<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/admin/layout}">

<head>
  <title th:text="#{admin.user.details.user_details}">User Details</title>
  <link th:href="@{/css/admin/user/details.css}" rel="stylesheet">
</head>

<body>
  <main layout:fragment="content">
    <div class="w-50 mx-auto">
      <h2 class="mb-4 text-center" th:text="#{admin.user.details.user_details}">User Details</h2>

      <table class="mb-4 table table-hover">
        <tr>
          <th class="col-3" th:text="#{user.field.id}">ID</th>
          <td class="col-9" th:text="${user.id}"></td>
        </tr>
        <tr>
          <th class="col-3" th:text="#{user.field.full_name}">Full Name</th>
          <td class="col-9" th:text="${user.fullName}"></td>
        </tr>
        <tr>
          <th class="col-3" th:text="#{user.field.date_of_birth}">Date of Birth</th>
          <td class="col-9"
            th:text="${user.dateOfBirth != null ? #temporals.format(user.dateOfBirth, #messages.msg('date.format')) : ''}">
          </td>
        </tr>
        <tr>
          <th class="col-3" th:text="#{user.field.gender}">Gender</th>
          <td class="col-9" th:text="${user.gender != null ? #messages.msg('user.gender.' + user.gender) : ''}"></td>
        </tr>

        <tr>
          <th class="col-3" th:text="#{user.field.national_id}">National ID</th>
          <td class="col-9" th:text="${user.nationalId}"></td>
        </tr>
        <tr>
          <th class="col-3" th:text="#{user.field.address}">Address</th>
          <td class="col-9" th:text="${user.address}"></td>
        </tr>
        <tr>
          <th class="col-3" th:text="#{user.field.phone_number}">Phone Number</th>
          <td class="col-9" th:text="${user.phoneNumber}"></td>
        </tr>
        <tr>
          <th class="col-3" th:text="#{user.field.email}">Email</th>
          <td class="col-9" th:text="${user.email}"></td>
        </tr>
        <tr>
          <th class="col-3" th:text="#{user.field.role}">Role</th>
          <td class="col-9" th:text="#{|user.role.${user.role.name()}|}"></td>
        </tr>
        <tr>
          <th class="col-3" th:text="#{user.field.department}">Department</th>
          <td class="col-9">
            <a th:if="${user.department != null}" th:href="@{|/admin/departments/${user.department.id}/details|}"
              th:text="${user.department.name}"></a>
          </td>
        </tr>
        <tr>
          <th class="col-3" th:text="#{user.field.eid_identifier}">EID Identifier</th>
          <td class="col-9" th:text="${user.eidIdentifier}"></td>
        </tr>
        <tr>
          <th class="col-3" th:text="#{user.field.status}">Status</th>
          <td class="col-9">
            <span class="badge"
              th:classappend="${user.statusKey == 'deleted'} ? 'bg-danger' : (${user.statusKey == 'locked'} ? 'bg-warning' : 'bg-success')"
              th:text="#{|user.status.${user.statusKey}|}"></span>
          </td>
        </tr>
        <tr>
          <th class="col-3" th:text="#{user.field.email_notification}">Email Notification</th>
          <td class="col-9">
            <div class="bs-switch" th:classappend="${user.emailNotificationEnabled} ? 'on' : ''"></div>
          </td>
        </tr>
      </table>

      <div class="d-flex justify-content-center gap-2">
        <a th:href="@{/admin/users}" class="btn btn-secondary" th:text="#{action.back_to_list}">Back to List</a>

        <a th:if="${user.statusKey == 'active'}" th:href="@{|/admin/users/${user.id}/edit|}" class="btn btn-primary"
          th:text="#{action.edit}">Edit</a>

        <form th:if="${user.statusKey == 'active'}" th:action="@{|/admin/users/${user.id}/change-status|}" method="post"
          th:id="@{|changeStatusForm-${user.id}|}">
          <input type="hidden" name="status" value="locked" />

          <button type="button" class="btn btn-warning" th:title="#{admin.user.list.lock}"
            th:data-msg="#{admin.user.lock_confirm}" th:data-user-id="${user.id}" onclick="confirmChangeStatus(this)"
            th:text="#{admin.user.list.lock}"></button>
        </form>

        <form th:if="${user.statusKey == 'locked'}" th:action="@{|/admin/users/${user.id}/change-status|}" method="post"
          th:id="@{|changeStatusForm-${user.id}|}">
          <input type="hidden" name="status" value="active" />

          <button type="button" class="btn btn-warning" th:title="#{admin.user.list.unlock}"
            th:data-msg="#{admin.user.unlock_confirm}" th:data-user-id="${user.id}" onclick="confirmChangeStatus(this)"
            th:text="#{admin.user.list.unlock}"></button>
          </button>
        </form>

        <form th:if="${user.statusKey != 'deleted'}" th:action="@{|/admin/users/${user.id}|}" method="post"
          th:id="@{|deleteForm-${user.id}|}">
          <input type="hidden" name="_method" value="delete" />

          <button type="button" class="btn btn-danger" th:data-msg="#{admin.user.delete_confirm}"
            th:data-user-id="${user.id}" onclick="confirmDelete(this)" th:text="#{action.delete}">Delete</button>
        </form>
      </div>
    </div>
  </main>

  <div layout:fragment="scripts">
    <script th:src="@{/js/admin/user/common.js}"></script>
  </div>
</body>

</html>
